/* TEMPLATE */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: #0F0F0F;
	background-color: #F1F1F1;
	font-family: "League Spartan", sans-serif;
}
.block{
	display: block;
}
.center{
	text-align: center;
}
/* TEMPLATE */


.link-light {
	color: #E5E5E5;
	padding: 1rem 0 1rem 0rem;
	margin: 0 1rem;
}
.link-light:hover {
	color: #FFF;
}
.link-active,
.link-light:hover,
.link-light:active {
	border-bottom: 1px solid white;
	padding: 0.9rem 0 0.9rem 0;
}
