/* TEMPLATE */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: #0F0F0F;
	background-color: #F5F5F5;
	font-family: "League Spartan", sans-serif;
}
/* TEMPLATE */



legend {
	all:initial;
	font-size: 2rem;
	font-family: 'League Spartan', sans-serif;
}

section{
	max-width: 600px;
	margin: 0 auto;
}

.form-control {
	border-radius: 1rem;
}

.tshadow{
	text-shadow: 2px 1px 3px #0004 
}
