@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
*{
	margin: 0;
	box-sizing: border-box;
	padding: 30px;
	font-family: 'League Spartan';
}
.container h2{
	margin-top: -100px;
}
input[type="text"], input[type="number"]{
	border-radius: 20px !important;
	margin-top: -20px;
	border-color: gray;
	margin-bottom: 0;
}
.form-group, .form-row {
	margin-bottom: 0;
	padding-bottom: 0;
}
input[type="radio"]{
	border-color: gray;
}

label[for="male"], label[for="female"] {
	margin-left: -25px;
}

body{
	color: #0F0F0F;
	background-color: #F1F1F1;
	font-family: "Segoe UI emoji";
	background-image: url('lau.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
h2 {
	text-shadow: 0.6px 0.6px 0.6px forestgreen;
}
.block{
	display: block;
}
label, input[type="radio"]{
	margin-top: -30px;
}
label {
	padding-top: 0;
}
.center{
	text-align: center;
}
 {
	display: inline !important;
	width: 50%;
}
.form{
	background-color: white;
	border: 5px solid rgba(0, 0, 0, 0.7);
	border-radius: 20px;
}
.float-right{
	display: block !important;
	align-items: end;
	justify-content: right;
	width: 100%;
}