.main, .header, .main *, .main * *, .main * * * {
      color: #fff;
      text-shadow: 1px 1px 1px #fff
}

.header , .header *{
      background: #666 !important;
}

.main, .main *, .main * *, .main * * * {
      color: #fff;
      background: #000;
      text-shadow: 1px 1px 1px #fff
}

.main {
      width: 100vw;
      height: 100vh;
      background-color: #000;
}

.body {
      background-color: #000;
}